@import '../components/navbar';
@import './container';
@import './cardabout';
@import './card';
@import '../components/footer';
@import '../components/hover';


body{
    margin: 0;
    padding: 0;
    font-family: $fontfamily;
    
}